<h1 class="page-header">Search Results for <%= params[:q] %></h1>

<% @results.results.each do |result| %>
  <%= link_to(result.name, menu_item_path(result.id)) %>
<% end %>

<h2>Found <%= pluralize(@results.size, 'result') %></h2>
