<h1 class="page-header">Our Food</h1>
<p class="lead">
  Tacos so yummy, you'll slap yo mama.
</p>
<% @items.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.each do |menu_item| %>
      <div class="col-sm-3">
        <div class="panel">
          <div class="panel-header">
            <%= image_tag(menu_item.picture.url(:small), width: '100%') %>
          </div>
          <div class="panel-body">
            <h3><%= menu_item.name %></h3>
            <p><%= number_to_currency(menu_item.price) %></p>
          </div>
          <div class="panel-footer text-center">
            <%= link_to('See More', menu_item_path(menu_item), class: 'btn btn-success') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
