/*
 *= require bootstrap
 *= require_self
 */

#site-header {
  padding: 20px 0;
  margin-bottom: 20px;
}
#site-footer {
  border-top: 1px solid black;
  padding: 20px 0;
  margin-top: 20px;
}

#map {
  width: 100%;
  height: 400px;
}
